<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/common/head"></head>
<title>个人信息</title>
<link rel="stylesheet" th:href="@{/site/css/login.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div th:replace="site/common/header"></div>
    <el-container>
        <el-main class="app-main">
            <el-form label-width="0px" :model="pass" ref="pass" class="demo-ruleForm login-container">
                <h3 class="title">修改密码</h3>
                <el-form-item required prop="password" :rules="[{ required: true, message: '请输入新密码'}]">
                    <el-input v-model="pass.password" type="password" placeholder="请输入新密码,密码长度在6位及以上"></el-input>
                </el-form-item>
                <el-form-item required prop="repassword" :rules="[{ required: true, message: '确认新密码'}]">
                    <el-input type="password" v-model="pass.repassword" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item style="width:100%;">
                    <el-button type="danger" style="width:100%;" @click="changePassword">修改密码
                    </el-button>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</div>
</body>
<div th:replace="site/common/js"></div>
<script type="text/javascript" th:src="@{/site/js/password.js}"></script>
</html>
