<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head"></head>
<title>数据分析</title>
<body >
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="admin/common/side"></div>
        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="admin/common/header"></div>
            <el-main class="app-main">
                <el-card>
                    <div id="analysis" style="min-width:400px;height:470px"></div>
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<div th:replace="admin/common/js"></div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" th:src="@{/admin/js/data.js}"></script>
</html>
