<div class="page-loader" ref="loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<div @click="drawerClick" v-if="sidebarStatus == true && mobileStatus == true" class="drawer-bg"></div>
<div class="sidebar-container el-scrollbar">
    <div class="scrollbar-wrapper el-scrollbar__wrap">
        <div class="el-scrollbar__view" style="background-color: rgb(48, 65, 86);">
            <el-aside style="background-color: rgb(48, 65, 86);width: auto !important;" show-timeout="200">
                <el-menu unique-opened :default-active="defaultActive" :collapse="!sidebarStatus" background-color="rgb(48, 65, 86)" text-color="#fff">
                    <a href="/admin/index">
                        <el-menu-item index="1">
                            <i class="fa fa-home fa-fw"></i>
                            <span slot="title">首页</span>
                        </el-menu-item>
                    </a>
                    <a href="/admin/user">
                        <el-menu-item index="2">
                            <i class="fa fa-user fa-fw"></i>
                            <span slot="title">用户管理</span>
                        </el-menu-item>
                    </a>
                    <a href="/admin/site">
                        <el-menu-item index="3">
                            <i class="fa fa-link fa-fw"></i>
                            <span slot="title">网站管理</span>
                        </el-menu-item>
                    </a>
                    <a href="/admin/category">
                        <el-menu-item index="4">
                            <i class="fa fa-tag fa-fw"></i>
                            <span slot="title">分类/标签</span>
                        </el-menu-item>
                    </a>
                    <a href="/admin/data">
                        <el-menu-item index="5">
                            <i class="fa fa-cloud fa-fw"></i>
                            <span slot="title">数据分析</span>
                        </el-menu-item>
                    </a>
                    <a href="/admin/me">
                        <el-menu-item index="6">
                            <i class="fa fa-cog fa-fw"></i>
                            <span slot="title">个人中心</span>
                        </el-menu-item>
                    </a>
                </el-menu>
            </el-aside>
        </div>
    </div>
    <div class="el-scrollbar__bar is-horizontal">
        <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
    </div>
    <div class="el-scrollbar__bar is-vertical">
        <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
    </div>
</div>